@charset "utf-8";

/* 콘텐츠 큰 제목 */
@font-face {
  font-family: 'locus_sangsang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/locus_sangsang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* nav, spot, contents > p */
@font-face {
  font-family: 'HallymGothic-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.clear:after {
  display: block;
  content: '';
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

body * {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: black;
  line-height: 1.5rem;
}

/* 시작 */
.wrap {
  width: 100%;
  /* height: 100%;  */
  background-color: #ddd;
  /* position: sticky; */
  /* top: 0; */
  height: 100vh;
}

/* 헤더 */
header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 99999;
  transition: all 0.3s ease-in-out;
}

/* 스크롤 시 헤더 */
header.shrink {
  height: 70px;
  background-color: #fff;
  border-bottom: 2px solid #ddd;
}

header.shrink >.logo > a {
  height: 70px;
  padding: 0;
  margin: 0 auto;
}

header.shrink >.spot-wrap a {
  height: 70px;
  padding: 25px 10px;
  margin: 0 auto;
  color: #000;
  font-weight: bold;
}

header.shrink>nav>.gnb>li>a {
  padding: 25px 10px;
  color: #000;
  font-weight: bold;
  font-size: 16px;
}

/* 내비게이션 */
nav {
  width: 25%;
  height: 100%;
  font-family: 'HallymGothic-Regular';
}

/* 상위메뉴의 부모영역 */
.gnb {
  width: 100%;
  height: 100%;
  text-align: center;
}

/* 상위메뉴 li*4개 */
.gnb>i {
  display: block;
  padding: 10px;
  visibility: hidden;
  height: 100%;
}

.gnb>li {
  width: 20%;
  height: 100%;
  color: white;
}

.gnb>li:nth-child(1) {
  margin-left: 15px;
}

.gnb>li>a {
  display: block;
  padding: 40px 0;
  color: white;
  cursor: pointer;
}

/* 로고영역 */
.logo {
  width: 55%;
  height: 100%;
  margin: 0 auto;
}

/* a = img포함 */
.logo>a {
  display: block;
  width: 30%;
  height: 100%;
  padding: 15px;
  margin: 0 auto;
}


.logo > a > img {
  display: block;
  width: 100px;
  margin: 0 auto;
  padding: 20px 0;
}

/* 유틸 부모영역 */
.spot-wrap {
  width: 20%;
  height: 100%;
  font-family: 'HallymGothic-Regular';
}

.spot {
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
}

.spot>li {
  width: 20%;
  height: 100%;
  color: white;
  font-size: 14px;
}

.spot>li:first-child {
  margin-right: 15px;
}

.spot>li>a {
  display: block;
  padding: 40px 0;
  color: white;
  font-size: 16px;
}

/* 슬라이드를 모두 감싸는 영역 */
/* fixed를 통해 패럴렉스의 효과 */
.slide-wrap {
  position: fixed;
  left: 0;
  height: 100vh;
  overflow: hidden;
}

/* li를 감싸는 부모 영역 */
.slides {
  position: relative;
  width: 100vw;
  height: 100%;
  transition: all 0.6s;
}

/* 자바스크립트 추가 영역 */
.slides>li.add {
  z-index: 99;
  width: 100vw;
}

.slides > li > p {
  position: relative;
  top: 50%;
  text-align: center;
  z-index: 109;
  width: 100%;
  font-size: 25px;
  color: #fff;
  transition: all 0.4s;
}

.slides>li.left {
  left: 0;
}

.slides>li.remove {
  z-index: 55;
  width: 0;
}

.slides > li.right {
  right: 0;
}

.slides > li {
  z-index: 0;
  transition: all 1s;
  position: absolute;
  right: 0;
  width: 0;
  height: 100%;
}

.bg1,
.bg2,
.bg3 {
  background-position: center;
}

.bg1 {
  background-image: url(../image/slide1.jpg);
}

.bg2 {
  background-image: url(../image/slide3.jpg);
}

.bg3 {
  background-image: url(../image/slide4.jpg);
}

/* 슬라이드 위 버튼 영역 */
.button {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 50%;
  color: white;
  z-index: 99;
}

.prev,
.next {
  position: fixed;
  top: 500px;
  width: 15%;
  cursor: pointer;
  text-align: center;
  z-index: 99;
  font-size: 30px;
  color: #ddd;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

/* 콘텐츠 */
.contents {
  position: relative;
  width: 100%;
  height: 3700px;
  background-color: #fff;
  overflow: hidden;
  z-index: 104;
}

/* 1번 콘텐츠 */
.con1-wrap {
  width: 100vw;
  height: 550px;
}

/* con1 설명서 */
.con1-1 {
  width: 30%;
  height: 100%;
  padding: 100px 50px;
  font-size: 18px;
  font-family: 'HallymGothic-Regular';
}

.con1-1 > p {
  font-size: 17px;
  color: #666;
}

.con1-1 >h3 {
  font-size: 35px;
  font-weight: normal;
  line-height: 40px;
  letter-spacing: 1.5px;
  font-family: 'locus_sangsang';
}

.con1-2 {
  position: relative;
  width: 70%;
  height: 600px;
  /* padding: 100px 20px; */
  overflow: hidden;
}

.new-wrap {
  width: 100%;
  height: 100%;
}

.new-swiper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 16px;
  
  width: 360px;
  height: 100%;
}

.new-swiper > a > img {
  display: block;
  width: 360px;
  height: 360px;
}
.new-swiper > a > .pro > p:nth-child(2) {
  font-weight: bold;
}

.sub-swiper > .swiper-button-next::after,
.sub-swiper > .swiper-button-prev::after {
  position: absolute;
  font-size: 22px;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #777;
}

.sub-swiper > .swiper-button-prev::after {
  left: -7px;
}

.sub-swiper > .swiper-button-next::after {
  right: -3px;
}

.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {

  width: 95%;
}

.sub-swiper .swiper-button-prev:after,
.sub-swiper .swiper-button-next:after {
  display: none;
}
.sub-swiper:hover .swiper-button-prev:after,
.sub-swiper:hover .swiper-button-next:after {
  display: block;
  background-color: #333;
  color: #fff;
}

@media only screen and (min-width: 769px) {
  .new-swiper:first-child {
    transition: transform 100ms;
  }

  .new-swiper:first-child img {
    transition: box-shadow 500ms;
  }

  .new-swiper.new-swiper-active:first-child {
    transform: translateX(50%);
    z-index: 2;
  }

  .new-swiper.new-wiper-active:first-child img {
    box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.35);
  }

  .new-swiper:nth-child(2) {
    transition: transform 100ms;
  }

  .new-swiper.new-swiper-next:nth-child(2) {
    transform: translateX(55%);
    z-index: 1;
  }

  .new-wrap[dir="rtl"] .new-swiper.new-swiper-active:first-child {
    transform: translateX(-50%);
  }

  .new-wrap[dir="rtl"] .new-swiper.new-swiper-next:nth-child(2) {
    transform: translateX(-55%);
  }
}

.con2-wrap {
  width: 100%;
  height: 800px;
  position: relative;
  top: 150px;
}

.con2-1 {
  width: 55%;
}

.sub2.swiper-wrapper {
  width: 100%;
  height: 650px;
}

.sub2.swiper-slide > a {
  overflow: hidden;
}

.sub2.swiper-slide > a > img {
  width: 100%;
  object-fit: contain;
  height: 600px;
}

.sub2.swiper-slide > a > p {
  width: 98%;
  height: 50px;
  color: #000;
  position: relative;
  text-align: right;
  font-size: 16px;
}


.sub2-swiper > .sub2.swiper-button-next::after, 
.sub2-swiper > .sub2.swiper-button-prev::after {
  background-color: #333;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #777;
  color: #fff;
  font-size: 22px;
}

.sub2-swiper > .sub2.swiper-button-next::after, 
.sub2-swiper > .sub2.swiper-button-prev::after {
  display: none;
}

.sub2-swiper:hover > .sub2.swiper-button-next::after, 
.sub2-swiper:hover > .sub2.swiper-button-prev::after {
  display: block;
}

.sub2-swiper > .swiper-button-next {
  right: 12px;
}

.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
  width: 98%;
}

.con2-2 {
  width: 45%;
  height: 100%;
  padding: 100px 100px;
  font-size: 18px;
  font-family: 'HallymGothic-Regular';
}

/*CON2 -  주제 및 설명 */
.con2-2 > p {
  font-size: 17px;
  color: #666;
}

.con2-2 > h3 {
  font-size: 35px;
  font-weight: normal;
  line-height: 40px;
  letter-spacing: 1.5px;
  font-family: 'locus_sangsang';
}

/* 더 알아보기 버튼 */
.con2-2 > .ex {
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 45px;
  font-size: 14px;
}

.con2-2 > .ex > a {
  display: block;
  border: 1px solid #ddd;
  margin: 50px 25%;
  width: 300px;
  height: 50px;
}

.con2-2 > .ex > a:hover {
  background-color: #888;
  color: #fff;
}

/* 콘텐츠3번 */
.con3-wrap {
  width: 100%;
  height: 1500px;
  position: relative;
  top: 100px;
}

.con3-1 {
  top: 30px;
  width: 30%;
  height: 400px;
  padding: 100px 50px;
  font-size: 18px;
  font-family: 'HallymGothic-Regular';
}

.con3-1 > p {
  font-size: 17px;
  color: #666;
}

.con3-1 > h3 {
  font-size: 35px;
  font-weight: normal;
  line-height: 40px;
  letter-spacing: 1.5px;
  font-family: 'locus_sangsang';
}

.con3-2 {
  width: 70%;
  height: 1250px;
}

.ch1,
.ch2,
.ch3 { 
  width: 100%;
  height: 450px;
  margin-bottom: 30px;}

.ch1 > li,
.ch2 > li,
.ch3 > li  {
  width: 30%;
  margin-left: 30px;
}

.ch1 > li > a > img,
.ch2 > li > a > img,
.ch3 > li > a > img {
  width: 100%;
  height: 400px;
}

/* 왜 3인가 */
.ch1 > li > a > p:nth-child(3),
.ch2 > li > a > p:nth-child(3),
.ch3 > li > a > p:nth-child(3) {
  font-weight: bold;
}

.con4-wrap {
  width: 100%;
  height: 800px;
  position: relative;
  top: 150px;
}

.con4-1 {
  width: 60%;
  height: 90%;
}

.con4-1 > iframe {
  width: 100%;
  height: 80%;
}

.con4-2 {
  width: 40%;
  height: 100%;
  padding: 100px 100px;
  font-size: 18px;
  font-family: 'HallymGothic-Regular';
}

/*CON2 -  주제 및 설명 */
.con4-2 > p {
  font-size: 17px;
  color: #666;
}

.con4-2 > h3 {
  font-size: 35px;
  font-weight: normal;
  line-height: 40px;
  letter-spacing: 1.5px;
  font-family: 'locus_sangsang';
}

/* 더 알아보기 버튼 */
.con4-2 > .ex {
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 45px;
  font-size: 14px;
}

.con4-2 > .ex > a {
  display: block;
  border: 1px solid #ddd;
  margin: 50px 25%;
  width: 300px;
  height: 50px;
}

.con4-2 > .ex > a:hover {
  background-color: #888;
  color: #fff;
}

/* 푸터 */
footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 300px;
  background-color: #202020;
  color: #fff;
}

.footer-wrap {
  width: 100%;
  height: 100%;
}

.footer-wrap>li {
  width: 15%;
  height: 100%;
  padding: 30px 20px;
  font-size: 14px;
  font-weight: bold;
}

.footer-wrap>li:nth-child(2) {
  width: 35%;
  height: 100%;
}

.footer-wrap>li:nth-child(5) {
  width: 20%;
}

.footer-wrap>li:nth-child(5)>ul {
  width: 50%;
}

.footer-wrap>li:nth-child(5)>ul>li>a {
  display: block;
  color: #fff;
}


.footer-wrap>li>p>strong {
  font-size: 45px;
}

.footer-wrap>li>p {
  padding: 2px;
}



/* 반응형 미디어 쿼리 */
@media screen and (max-width:1024px) {

  /* 스크롤 시 헤더 */
  header.shrink {
    height: 70px;
    background-color: #fff;
    border-bottom: 2px solid #ddd;
    background-color: #fff;
  }

  /* 네비게이션 영역의 자손 */
  header.shrink>nav>.gnb>li>a {
    /* 패딩 좌우 0 바꿈 */
    padding: 25px 0;
    color: #000;
    font-weight: bold;
  }

  /* 내비게이션 */
  nav {
    /* 너비 20% → 35%로 변경 */
    width: 35%;
    height: 100%;
    font-size: 14px;
  }

  /* 상위메뉴 li*4개 */
  .gnb>i {
    display: block;
    padding: 10px;
    visibility: hidden;
    height: 100%;
    /* 1024에서 추가한 내용 */
    margin-left: -20px;
  }

  /* 로고영역 */
      /* 너비를 60% → 30% 변경 */
  .logo {
    width: 30%;
    height: 100%;
    margin: 0 auto;
  }

  /* 유틸 부모영역 */
      /* 너비 20% → 35%로 변경 */
  .spot-wrap {
    width: 35%;
    height: 100%;
  }

  .spot > li > a {
    display: block;
    padding: 40px 0;
    color: white;
    font-size: 14px;
  }

  .slide-wrap {
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .slide-wrap>.slides>li {
    position: absolute;
    left: 0;
    top: -30px;
    width: 100vw;
    height: 100vw;
  }

  .slides {
    transition: all 1s;
  }


  .slides>li {
    transition: all 1s;
    position: absolute;
    width: 100vw;
    height: 100vh;
  }

  /* 콘텐츠 높이 변경*/
  .contents {
    height: 4700px;
  }

  /* 콘텐츠 float none */
  .con1-1,
  .con1-2,
  .con2-1,
  .con2-2,
  .con3-1,
  .con3-2,
  .con4-1,
  .con4-2 {
    float: none;
    width: 100%;
  }

  /* 콘텐츠 속 콘텐츠 */
  .con2-wrap,
  .con3-wrap,
  .con4-wrap {
    position: relative;
    top: 0;
    width: 100%;
  }

  /* 콘텐츠 별 큰 제목과 설명 */
  .con1-1,
  .con2-2,
  .con3-1,
  .con4-2 {
    text-align: center;
    padding: 100px 200px 10px;
  }


  /* 더 알아보기 */
  .con2-2 > .ex > a,
  .con4-2 > .ex > a {
  margin: 50px auto;
}

  /* con1 설명서 */
.con1-wrap {
  width: 100%;
  height: 800px;
}

/* 콘텐츠1 큰 제목 */
.con1-1 {
  height: 300px;
}

.con1-2 {
  position: relative;
  height: 500px;
  overflow: hidden;
}

/* 99%으로 변경 */
.new-swiper > a > img {
  width: 99%;
  height: 99%;
}

/* 2번 콘텐츠 */
.con2-wrap {
  height: 1100px;
}

.con2-1 {
  position: absolute;
  top: 400px;
}

/* 콘텐츠 큰 주제 */
.con2-2 {
  position: relative;
  top: 0;
  height: 400px;
}


/* 콘텐츠3번 */
.con3-wrap {
  height: 1650px;
}

.con3-1 {
  height: 350px;
}

.con3-2 {
  height: 1300px;
}

/* 콘텐츠상품 */
.ch1,
.ch2,
.ch3 { 
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}

.ch1 > li,
.ch2 > li,
.ch3 > li  {
  margin-left: 25px;
}

.ch1 > li > a > img,
.ch2 > li > a > img,
.ch3 > li > a > img {
  width: 100%;
  height: 300px;
}

/* 콘텐츠4번 */
.con4-wrap {
  height: 1000px;
}

.con4-1 {
  position: relative;
  top: 500px;
  height: 300px;
}

.con4-1 > iframe {
  position: relative;
  width: 100%;
  height: 500px;
}

.con4-2 {
  position: relative;
  top: -300px;
  height: 400px;
}

/* 푸터 */
footer {
  height: 400px;
}
}

/* 768 - 태블릿형 */
@media screen and (max-width:768px) {

  .wrap {
    width: 100%;
    height: 768px;
  }

  header {
    width: 100%;
    height: 130px;
    position: fixed;
    top: 0;
    z-index: 99999;
    transition: all 0.3s ease-in-out;
    background-color: rgba(20, 20, 20, 0.7);
  }

  /* 스크롤 시 헤더 */
  header.shrink {
    height: 100px;
    background-color: #fff;
    border-bottom: 2px solid #ddd;
  }

  header.shrink>.logo>a {
    height: 50%;
    /* width: 80%; */
    top: 0px;
    padding: 20px 0;
    margin: 0 57%;
  }

  header.shrink>.spot-wrap a {
    height: 50%;
    padding: 30px 10px;
    margin: 0 auto;
    color: #000;
    font-weight: normal;
  }

  header.shrink>nav {
    margin: 0 auto;
  }


  header.shrink>nav>.gnb>li>a {
    padding: 0px 10px;
    margin: 0 auto;
    width: 50%;
    height: 100%;
    line-height: 50px;
    color: #000;
    font-weight: bold;
  }

  header.shrink>nav>.gnb>li:hover>a {
    color: red;
  }

  /* 내비게이션 */
  nav {
    width: 100%;
    height: 50%;
    font-size: 14px;
    position: relative;
    float: none;
    margin-top: 15px;
    top: 50px;
  }

  /* 상위메뉴의 부모영역 */
  .gnb {
    width: 100%;
    height: 100%;
    text-align: center;
  }

  /* 상위메뉴 li*4개 */
  .gnb > li {
    width: 24%;
    height: 100%;
    color: white;
  }

  .gnb>li>a {
    display: block;
    padding: 25px 0;
    color: white;
    cursor: pointer;
  }

  /* 로고영역 */
  .logo {
    position: relative;
    display: inline-block;
    float: none;
    top: -63%;
    width: 70%;
    height: 50%;
  }

  /* a = img포함 */
  .logo>a {
    width: 30%;
    height: 100%;
    margin: 2px 55%;
  }


  .logo>a>img {
    width: 100px;
    padding: 0px;
  }

  /* 유틸 부모영역 */
  .spot-wrap {
    position: relative;
    float: none;
    left: 70%;
    top: -116%;
    width: 30%;
    height: 50%;
  }

  .spot>li {
    width: 30%;
    height: 100%;
  }

  .spot>li>a {
    padding: 25px 0;
    color: white;
  }

  /* 슬라이드를 모두 감싸는 영역 */
  /* fixed를 통해 패럴렉스의 효과 */
  .slide-wrap {
    position: fixed;
    left: 0;
    height: 768px;
    overflow: hidden;
  }

  /* li를 감싸는 부모 영역 */
  .slides {
    position: relative;
    width: 100%;
    height: 768px;
    transition: all 0.6s;
    overflow: hidden;
  }

  /* 자바스크립트 추가 영역 */
  .slides>li.add {
    z-index: 99;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .slides>li.add>p {
    z-index: 109;
    width: 100%;
  }

  .slides>li.left {
    left: 0;
  }

  .slides>li.remove {
    z-index: 55;
    width: 0;
  }

  .slides>li.right {
    right: 0;
  }

  .slides > li {
    z-index: 0;
    transition: all 1s;
    position: absolute;
    right: 0;
    width: 0;
    height: 100%;
  }

  /* 슬라이드 위 버튼 영역 */
  .prev,
  .next {
    border-radius: 10%;
    margin: 0 20px;
    background-color: #777;
    font-size: 30px;
    color: #fff;
    top: 430px;
    width: 4%;
  }

  /* context + footer 부모 */
  .contrents-wrap {
    height: 4400px;
  }

  .contents {
    height: 4400px;
  }

  .con1-1,
  .con1-2,
  .con2-1,
  .con2-2,
  .con3-1,
  .con3-2,
  .con4-1,
  .con4-2 {
    float: none;
    width: 100%;
  }

.con1-1,
.con2-2,
.con3-1,
.con4-2 {
  text-align: center;
  padding: 100px 100px 10px;
}

/* 1번 콘텐츠 */
.con1-wrap {
  width: 100vw;
  height: 800px;
}

/* con1 설명서 */
.con1-1 {
  height: 300px;
}

.con1-2 {
  position: relative;
  width: 100%;
  height: 400px;
  margin-bottom: 100px;
}

.new-wrap {
  width: 100%;
  height: 100%;
}

/* 이미지 250으로 변경 */
.new-swiper > a > img {
  width: 250px;
  height: 250px;
}

.sub-swiper > .swiper-button-prev::after {
  left: -20px;
}

.sub-swiper > .swiper-button-next::after {
  right: -3px;
}

/* 스크롤 바 */
.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
  width: 96%;
}
/* 2번 콘텐츠 */
.con2-wrap {
  height: 900px;
  position: relative;
  top: 0;
}

/* 2번 콘텐츠 동영상 */
.con2-1 {
  position: relative;
  top: 400px;
  width: 100%;
  height: 500px;
}

.sub2.swiper-slide > a > img {
  width: 100%;
  object-fit: contain;
  height: 450px;
}

/* 콘텐츠2번 큰 주제 */
.con2-2 {
  position: absolute;
  top: 0;
  height: 400px;
}

/* 더 알아보기 사이즈 변경 */
.con2-2 > .ex > a {
  width: 200px;
  height: 50px;
}

/* 콘텐츠3번 */
.con3-wrap {
  height: 1200px;
}

.con3-1 {
  position: relative;
  height: 400px;
}

/* 콘텐츠4번 */
.con4-wrap {
  position: relative;
  top: -200px;
  width: 100%;
  height: 1200px;
}

.con4-1 {
  position: relative;
  top: 650px;
  width: 100%;
  height: 500px;
  padding-bottom: 56.25%;
  overflow: hidden;
}


.con4-1 > iframe {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.con4-2 {
  position: relative;
  top: -300px;
  height: 400px;
}

  /* 푸터 */
  footer {
    padding: 10px;
  }

  .footer-wrap>li {
    width: 25%;
    height: 100%;
    padding: 30px 10px;
    font-size: 12px;
    font-weight: bold;
  }

  .footer-wrap>li:nth-child(2) {
    display: none;
  }

  .footer-wrap>li:nth-child(5) {
    width: 20%;
  }

  .footer-wrap>li>p>strong {
    font-size: 30px;
  }

  .footer-wrap>li>p {
    padding: 2px;
  }
}


/* 486px- 모바일형 */
@media screen and (max-width:486px) {

  .wrap {
    width: 100%;
    height: 400px;
  }

  header {
    width: 100vw;
    height: 130px;
    background-color: #222;
  }

  /* 스크롤 시 헤더 */
  header.shrink {
    height: 100px;
    background-color: #fff;
    border-bottom: 2px solid #ddd;
  }

  header.shrink>.logo {
    height: 50%;
  }

  header.shrink>.logo>a {
    height: 50%;
    /* width: 80%; */
    top: 0px;
    padding: 20px 0;
    margin: 5px 10px;
  }

  header.shrink>.spot-wrap {
    width: 50%;
  }

  header.shrink>.spot-wrap a {
    height: 50%;
    padding: 30px 5px;
    margin: 0 auto;
    color: #000;
    font-weight: normal;
  }

  header.shrink>nav {
    width: 100vw;
  }


  header.shrink>nav>.gnb>li>a {
    padding: 0px 10px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    line-height: 50px;
    color: #000;
    font-weight: bold;
  }

  header.shrink>nav>.gnb>li:hover>a {
    color: brown;
  }

  /* 내비게이션 */
  nav {
    width: 100vw;
    height: 50%;
    font-size: 14px;
    position: relative;
    float: none;
    margin-top: 15px;
    top: 50px;
  }

  /* 상위메뉴의 부모영역 */
  .gnb {
    width: 100%;
    height: 100%;
    text-align: center;
  }

  /* 상위메뉴 li*4개 */
  .gnb > li {
    width: 24%;
    height: 100%;
    color: white;
  }

  .gnb>li>a {
    display: block;
    padding: 20px 0;
    color: white;
    cursor: pointer;
  }

  /* 로고영역 */
  .logo {
    position: relative;
    display: inline-block;
    float: none;
    top: -63%;
    width: 50%;
    height: 50%;
  }

  /* a = img포함 */
  .logo>a {
    width: 33%;
    height: 100%;
    margin: 2px;
  }


  /* 유틸 부모영역 */
  .spot-wrap {
    position: relative;
    left: 50%;
    top: -116%;
    width: 50%;
    height: 50%;
  }

  .spot>li {
    width: 25%;
    height: 100%;
  }

  .spot>li>a {
    color: white;
  }

  /* 슬라이드를 모두 감싸는 영역 */
  /* fixed를 통해 패럴렉스의 효과 */
  .slide-wrap {
    position: fixed;
    left: 0;
    height: 400px;
    overflow: hidden;
  }

  /* li를 감싸는 부모 영역 */
  .slides {
    position: relative;
    top: 130px;
    width: 100%;
    height: 400px;
    transition: all 0.6s;
    overflow: hidden;
  }

  /* 자바스크립트 추가 영역 */
  .slides>li {
    z-index: 0;
    transition: all 1s;
    position: absolute;
    right: 0;
    width: 0;
    height: 100%;
  }

  .bg1,
  .bg2,
  .bg3 {
    background-position: top center;
    background-size: contain;
  }

  /* 슬라이드 위 버튼 영역 */
  .button {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 50%;
    color: white;
    z-index: 99;
  }

  .prev,
  .next {
    top: 250px;
    width: 4%;
    font-size: 20px;
    border-radius: 20%;
  }

  /* 콘텐츠 */
  .contrents-wrap {
    position: relative;
    height: 6000px;
    bottom: 0;
    left: 0;
  }

  .contents {
    position: relative;
    width: 100%;
    height: 6000px;
    background-color: #fff;
    overflow: hidden;
    z-index: 104;
  }

.con1-1,
.con2-2,
.con3-1,
.con4-2 {
  text-align: center;
  padding: 100px 50px 10px;
}

  .con1-wrap {
    width: 100vw;
    height: 800px;
  }
  
  /* con1 설명서 */
  .con1-1 {
    height: 300px;
  }
  
  .con1-2 {
    position: relative;
    width: 100%;
    height: 500px;
    margin-bottom: 0;
  }
  
  .new-wrap {
    width: 100%;
    height: 100%;
  }
  
  .new-swiper > a > img {
    width: 380px;
    height: 380px;
  }
  
  .sub-swiper > .swiper-button-next::after,
  .sub-swiper > .swiper-button-prev::after {
    position: absolute;
    font-size: 22px;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #777;
  }
  
  .sub-swiper > .swiper-button-prev::after {
    left: -20px;
  }
  
  .sub-swiper > .swiper-button-next::after {
    right: -20px;
  }
  
  .swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
    width: 80%;
    margin-left: 8%;
  }
  
  .sub-swiper .swiper-button-prev:after,
  .sub-swiper .swiper-button-next:after {
    display: none;
  }

  .sub-swiper:hover .swiper-button-prev:after,
  .sub-swiper:hover .swiper-button-next:after {
    display: block;
    background-color: #333;
    color: #fff;
  }

  /* 콘텐츠2번 */
  .con2-wrap {
    position: relative;
    top: 0;
    height: 800px;
  }
  
  /* 콘텐츠2번 동영상 */
  .con2-1 {
    width: 100%;
    position: absolute;
    top: 400px;
    height: 350px;
  }

  .sub2.swiper-wrapper {
    width: 100%;
    height: 300px;
  }
  
  .sub2.swiper-slide > a > img {
    width: 100%;
    height: 300px;
  }

  .con2-2 {
    height: 400px;
  }

  /* 콘텐츠3번 */
  .con3-wrap {
    height: 2000px;
  }
  
  .con3-1 {
    position: relative;
    height: 400px;
  }

.ch1,
.ch2,
.ch3 { 
  width: 100%;
  height: 400px;
}

.ch1 > li,
.ch2 > li,
.ch3 > li {
  width: 500px;
  height: 400px;
}

.ch1 > li > a > img,
.ch2 > li > a > img,
.ch3 > li > a > img {
  margin-left: 50px;
  width: 340px;
  height: 300px;
}

.ch1 > li > a > p,
.ch2 > li > a > p,
.ch3 > li > a > p {
  margin-left: 50px;
  width: 300px;
}
  
  /* 콘텐츠4번 */
  .con4-wrap {
    position: relative;
    top: 350px;
    width: 100%;
    height: 1200px;
  }
  
  .con4-1 {
    display: none;
  }
  
  .con4-2 {
    position: relative;
    top: -300px;
    height: 400px;
  }
  
    /* 푸터 */
    footer {
      padding: 10px;
    }
  
    .footer-wrap>li {
      width: 25%;
      height: 100%;
      padding: 30px 10px;
      font-size: 12px;
      font-weight: bold;
    }
  
    .footer-wrap>li:nth-child(2) {
      display: none;
    }
  
    .footer-wrap>li:nth-child(5) {
      width: 20%;
    }
  
    .footer-wrap>li>p>strong {
      font-size: 30px;
    }
  
    .footer-wrap>li>p {
      padding: 1px;
    }
  /* 푸터 */
  .footer-wrap>li {
    width: 25%;
    height: 100%;
    padding: 30px 10px;
    font-size: 12px;
    font-weight: bold;
  }

  .footer-wrap>li:nth-child(5) {
    width: 20%;
  }

  .footer-wrap>li:nth-child(5) > ul {
    float: none;
    width: 100%;
    height: 30%;
  }

  .footer-wrap>li:nth-child(5)>ul>li>a {
    display: block;
    color: #fff;
  }


  .footer-wrap>li>p>strong {
    font-size: 30px;
  }

  .footer-wrap>li>p {
    padding: 2px;
  }

}